@import "tailwindcss";

:root{
  --primary-color: #311DE6;
}

@layer utilities {
  .text-brand {
    color: var(--primary-color);
  }

  .bg-brand {
    background-color: var(--primary-color);
  }

  .border-brand {
    border-color: var(--primary-color);
  }
}

body {
  font-family: var(--font-lato), sans-serif;
  background-color: #ffffff;
  color: #1e293b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway), sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 600;
}